:root {
    --color-membrane-inner: #ffffffff;
    --color-membrane-outer: #4c753bff;
}

body {
    margin: 0;
}

#wrapper {
    width: 100vw;
    height: 100vh;
    background-color: #000000;
    overflow: hidden;
}

#wrapper #renderer {
    width: 100%;
    height: 100%;
}