:root {
    --color-background: #111111;
    --color-liquid: #adaca1;
    --color-core: #151515ff;
    --color-membrane-inner: #ffffff55;
    --color-membrane-outer: #568543dd;
    --color-membrane-border: #314c26ee;
    --color-core-dead: #15151500;
    --color-membrane-inner-dead: #ffffff11;
    --color-membrane-outer-dead: #777777cc;
    --color-membrane-border-dead: #00000099;
    --color-liquid-particles: #4c753b;
    --color-flare: #ffffca7f;
}

body {
    margin: 0;
}

#wrapper {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#wrapper #renderer {
    width: 100%;
    height: 100%;
}