:root {
    --color-background: #ad9d81;
    --color-membrane-inner: #ffffff;
    --color-membrane-outer: #4c753b;
    --color-liquid-particles: #4c753b;
}

body {
    margin: 0;
}

#wrapper {
    width: 100vw;
    height: 100vh;
    background-color: #000000;
    overflow: hidden;
}

#wrapper #renderer {
    width: 100%;
    height: 100%;
}