:root {
    --color-background: #ad9d81;
    --color-membrane-inner: #ffffff55;
    --color-membrane-outer: #4c753bff;
    --color-membrane-inner-dead: #ffffff44;
    --color-membrane-outer-dead: #777777cc;
    --color-core: #151515ff;
    --color-core-dead: #15151500;
    --color-liquid-particles: #4c753b;
}

body {
    margin: 0;
}

#wrapper {
    width: 100vw;
    height: 100vh;
    background-color: #000000;
    overflow: hidden;
}

#wrapper #renderer {
    width: 100%;
    height: 100%;
}